@tailwind base;
@tailwind components;
@tailwind utilities;
html {
    scrollbar-face-color: #646464;
    scrollbar-base-color: #646464;
    scrollbar-3dlight-color: #646464;
    scrollbar-highlight-color: #646464;
    scrollbar-track-color: #000;
    scrollbar-arrow-color: #000;
    scrollbar-shadow-color: #646464;
    scrollbar-dark-shadow-color: #646464;
}

 ::-webkit-scrollbar {
    width: 8px;
    height: 3px;
}

 ::-webkit-scrollbar-button {
    background-color: #666;
}

 ::-webkit-scrollbar-track {
    background-color: #646464;
}

 ::-webkit-scrollbar-track-piece {
    background-color: #000;
}

 ::-webkit-scrollbar-thumb {
    height: 50px;
    background-color: #666;
    border-radius: 3px;
}

 ::-webkit-scrollbar-corner {
    background-color: #646464;
}

 ::-webkit-resizer {
    background-color: #666;
}

.personal-logo {
    padding-left: 20px;
    width: 110px;
}

.personal-logo:hover,
.ul-nav-hero li {
    cursor: pointer;
}

.ul-nav-hero li:hover {
    color: red;
    border-bottom: dotted 3px;
}

.container-hero {
    @apply bg-white h-screen flex flex-col justify-center items-center;
}

.container-hero {
    background-image: url('images/hero.png');
    background-size: cover;
    /* filter: invert(1); */
    height: 90vh;
    filter: blur(10px);
    transition: filter 0.4s ease-in-out;
}

.title-hero {
    height: 40vh;
}

.title-hero h1 {
    margin-top: 5vh;
    color: white;
    /* filter: blur(8px);
    cursor: default;
    transition: filter 0.5s ease-in-out; */
}

.container-hero:hover {
    /* filter: blur(0); */
    filter: blur(0);
}

.button-hero {
    /* filter: invert(1); */
    cursor: pointer;
    padding-top: 10pxs
}

.menu-card {
    @apply flex flex-col justify-center items-center bg-white h-screen font-mono py-40;
}

.center-content {
    @apply flex flex-col justify-center items-center;
}